<h2>Documents</h2>

<ol id="documents">
  <%= render :partial => @documents %>
</ol>

<style type="text/css">
  ol#documents ol.nodes { padding: 25px; }
  ol#documents ol.nodes li.node { margin-bottom: 15px; }
</style>
