<h2>Documents</h2>

<ol id="documents">
  <%= render :partial => @documents %>
</ol>

<style type="text/css">
  ol#documents ol.document { padding: 25px; }
  ol#documents ol.documents li.document { margin-top: 15px; margin-bottom: 15px; }
</style>
