<li class='<%= 'active' if page.current? %>'>
  <%= link_to_unless(page.current?, page, url, {:remote => remote, :rel => page.next? ? 'next' : page.prev? ? 'prev' : nil}) do |name| %>
    <%= link_to(name, "#") %>
    <% end %>
    </li>
