<h2>Nodes</h2>

<ol id="nodes">
  <%= render :partial => @root_node%>
</ol>

<style type="text/css">
  ol#nodes ol.nodes { padding: 25px; }
  ol#nodes ol.nodes li.node { margin-bottom: 15px; }
</style>
